$contentBGColor: #FAFAFA;
$grayColor: #F3F4F9;
$darkGrayColor: #E5E5E5;
$lightBlack: #333333;
$blueColor: #34ABE0;
$redColor: #DF212D;

$sizes: ("xs":320px, "md-1": 767px, "md":768px, "lg": 1024px, "xl-1": 1439px, "xl": 1440px);

$navigation: catalog, health, beauty, enjoy, car;
$leftOffsetNav: 41px;

%defaultFontSet{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}