@import "reset";
@import "fonts";
@import "vars";
@import "global";

.page {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 201px 1fr;
  @include media("max", "md") {
    grid-template-columns: 104px 1fr;
    grid-template-rows: 169px 1fr;
  }
  @include media("max", "xs") {
    grid-template-columns: 1fr;
    grid-template-rows: 169px 1fr;
  }

  &__sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__header {
    @include media("max", "md") {
      grid-column-start: 2;
    }
  }

  &__main {
    @include media("max", "md") {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }
}

.sidebar {
  background-color: $grayColor;
  width: 240px;
  transition: all .3s ease-in-out;


  @include media("max", "md") {
    width: 104px;
    position: fixed;
    height: 100%;
    z-index: 2;
  }

  @include media("max", "xs") {
    width: 10px;
  }

  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 41px 10px 60px $leftOffsetNav;
    @include media("max", "xs") {
      padding: 40px 10px 67px 20px;
    }
  }

  &__logo-img {
    background: url("../images/sidebar-logo.svg") no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    @include media("max", "md") {
      height: 25px;
      width: 25px;
      min-width: 25px;
    }
    @include media("max", "xs") {
      min-width: unset;
    }
  }

  &__logo-title {
    padding-left: 10px;
    @extend %poppinsFont;
    font-weight: 500;
    line-height: 24px;
    @include media("max", "md") {
      opacity: 0;
      font-size: 14px;
    }
  }

  &__burger {
    display: none;
    position: absolute;
    background: url("../images/burger-container.svg") no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    width: 48px;
    height: 106px;
    transform: translateX(calc(100% - 1px));
    text-align: left;
    cursor: pointer;


    &::before {
      content: '';
      position: absolute;
      background: url("../images/icon/burger-menu.svg") no-repeat;
      background-size: cover;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 26px;
      height: 20px;
    }

    @include media("max", "md") {
      display: block;
    }
  }

  &__burger-img {
    pointer-events: none;
    user-select: none;
  }

  @include media("max", "md") {
    &--open {
      width: 240px;

      .sidebar__logo-title {
        opacity: 1;
      }

      .menu__item-link-text {
        opacity: 1;
        z-index: 0;
      }

      .sidebar__burger:before {
        background: url("../images/icon/menu-exit.svg");

      }
    }
  }
  @include media("max", "xs") {
    &--open {
      width: 192px;

      .menu__item-link:after {
        display: block;
      }
    }
  }

}

.menu {
  padding: 0 10px 0 $leftOffsetNav;

  @include media("max", "xs"){
    padding-left: 20px;
  }

  &__item {
    padding-bottom: 42px;
    @extend %openSansFont;
    font-weight: 600;
    line-height: 22px;

    &.active {
      @each $item in $navigation {
        .menu__item-link--#{$item}:before {
          background: url("../images/icon/active/#{$item}.svg");
          background-size: cover;
        }
      }

      .menu__item-link {
        color: $blueColor;
      }

      .menu__item-link:after {
        background-color: $blueColor;
      }
    }
  }

  &__item-link {
    padding-left: 34px;
    position: relative;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    @include media("max", "xs") {
      padding-left: 0;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      transition: all .2s ease-in-out;
    }

    &:after {
      left: -#{$leftOffsetNav};
      width: 3px;
      height: 100%;
      background-color: transparent;
      @include media("max", "xs") {
        left: -20px;
        width: 2px;
        display: none;
      }
    }

    &:before {
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;

      @include media("max", "md") {
        width: 20px;
        height: 20px;
      }

      @include media("max", "xs") {
        display: none;
      }
    }

    @each $item in $navigation {
      &--#{$item}:before {
        background: url("../images/icon/default/#{$item}.svg");
        background-size: cover;
      }
    }
  }

  &__item-link-text {
    @include media("max", "md") {
      opacity: 0;
      z-index: -1;
    }
    @include media("max", "xs") {
      position: unset;
    }
  }
}

.header {
  border-bottom: 1px solid $darkGrayColor;
  background-color: #FFFFFF;
  transition: all .3s ease-in-out;

  &__inner {
    padding: 40px 0;
    @include media("max", "md") {
      padding: 31px 0 26px;
    }
    @include media("max", "xs") {
      padding: 37px 0 26px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 31px;
    opacity: 0.85;
    @include media("max", "md") {
      text-align: right;
      padding-bottom: 21px;
    }
    @include media("max", "xs") {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @include media("max", "md") {
    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 1;
      padding-left: 29px;

      .header__inner {
        padding: 31px 0 24px 124px;
      }

      .header__title {
        display: none;
      }
    }
  }

  @include media("max", "xs") {
    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 1;
      padding-left: 20px;

      .header__inner {
        padding: 27px 0 24px 35px;
      }

      .header__title {
        display: none;
      }

      .search__form-icon {
        display: none;
      }

      .search__form-input {
        padding: 12px 16px 12px 16px;
      }
    }
  }

}

.search {
  &__form {
    position: relative;
    display: flex;
  }

  &__form-icon {
    position: absolute;
    background: url("../images/icon/search.svg") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }

  &__form-input {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 16px 12px 44px;
    border: 1px solid rgba($lightBlack, 0.2);
    border-radius: 50px;
    outline: none;
    flex-grow: 1;
    @include media("max", "xs") {
      font-size: 14px;
    }

    &::placeholder {
      opacity: 0.45;
    }
  }
}

.main {
  background-color: $contentBGColor;
  padding: 40px 0;
}

.entertainment {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    @include media("max", "md") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("max", "xs") {
      grid-template-columns: 1fr;
    }
  }
}

.entertainment-card {

  @extend %robotoFont;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
  min-width: 347px;
  cursor: pointer;
  @include media("max", "md") {
    min-width: 296px;
  }

  @include media("max", "xs") {
    min-width: 268px;
  }

  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(100% - 9px);
    height: calc(100% - 3px);
    background: url("../images/entertainment-mask-hover.svg") no-repeat center;
    background-size: contain;
    z-index: 1;
  }

  &__inner {
    position: relative;
    mask-image: url("../images/entertainment-mask.svg");
    mask-position: center;
    mask-size: cover;
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    padding-right: 5px;

    @include media("max", "xs") {
      padding-right: 17px;
    }
  }

  &__info {
    flex-grow: 1;
    padding: 18px 0 18px 20px;
    white-space: nowrap;
    @include media("max", "md") {
      padding: 15px 0 15px 18px;
    }
    @include media("max", "xs") {
      padding: 16px 0 16px 20px;
    }
  }

  &__title {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include media("max", "md") {
      font-size: 14px;
    }
    @include media("max", "xs") {
      font-size: 12px;
      padding-bottom: 0;
    }
  }

  &__description {
    padding-bottom: 43px;
    opacity: .5;
    @include media("max", "md") {
      padding-bottom: 31px;
      font-size: 14px;
    }
    @include media("max", "xs") {
      padding-bottom: 22px;
      font-size: 12px;
    }
  }

  &__discount-value {
    display: block;
    padding-bottom: 6px;
    font-size: 36px;
    line-height: 28px;
    font-weight: 500;
    color: $redColor;
    text-transform: uppercase;
    @include media("max", "md") {
      padding-bottom: 3px;
    }
    @include media("max", "xs") {
      padding-bottom: 0;
      font-size: 28px;
    }
  }

  &__discount-type {
    display: block;
    letter-spacing: .4em;
    opacity: 0.5;
    text-transform: uppercase;
    @include media("max", "xs") {
      font-size: 12px;
    }
  }

  &__image-wrapper {
    width: 130px;
    height: 161px;
    display: flex;
    @include media("max", "md") {
      width: 104px;
      height: 144px;
    }
    @include media("max", "xs") {
      width: 89px;
      height: 130px;
    }
  }

  &__img {
    object-fit: cover;
  }
}